---
layout: default
title: OBX To Do
---

<h2>Latest Posts</h2>

<div class="gallery-grid">
  
  {% assign sorted_pages = site.gallery | sort: "nav_order" % | reverse %}
    {% for post in sorted_pages %}
    {% if post.hide != true %}
      <div class="gallery-item">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="gallery-image-wrap">
            <img src="{{ site.baseurl }}{{ post.images[0] }}" alt="{{ post.title }}">
          </div>
          <h3>{{ post.title }}</h3>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
